.main-bg{height: 500px; width: 100%; background-size: cover;}
.App{text-align: center;}
.mb20{margin-bottom: 20px;}
.mt20{margin-top: 20px;}
.fb{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.nav{
	display: flex;
	justify-content: space-between;
}
.nav h1{padding-left: 50px;}
.logo>a{font-size: 30px; color: #88e3f8;}
.nav .menu{list-style:none; display: flex; padding-right: 50px;}
.nav .menu li{padding: 0 20px;}
.detailCard{display: flex; padding: 50px 100px}
.imgWrap{padding-right: 30px;}
.info{
	text-align: left;
}
a{text-decoration: none; color: #000;}
h4{font-size: 20px;}
p{color: #393939;}
button{margin-top: 50px; background: #066c88; color: #fff; padding: 10px 30px; border:none;}
.price{font-size: 18px; color:#000; font-weight: bold;}
.alert{background: #ddd; padding: 10px;}

.user{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.user li{
	width: 45%;
	margin: 10px;
	padding: 20px;
	box-sizing: border-box;
	background: #ddd;
}
.tabs{display: flex; padding: 20px 20px 0 20px;}
.tabs .item{width: 200px; padding: 20px 0 20px 0; text-align: center; background: #066c88; color: #fff; margin-right: 10px; border-radius: 20px 0 0 0;}
.tabBox{
	background: #ddd;
	padding: 20px;
	box-sizing: border-box;
	width: 800px;
	text-align: left;
	margin-left: 20px;
	height: 300px;
}
.start{opacity: 0;}
.end{opacity: 1; transition: opacity 0.5s;}

.cart{padding: 50px;}
.cart table{border-collapse: collapse; width: 100%;}
/* .cart table thead{} */
.cart table th{border: 1px solid #ddd; padding: 5px 10px;}
.cart table td{border: 1px solid #ddd; padding: 5px 10px;}